@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body {
 

    margin: 0;
    font-family: sans-serif;
    background-color: tan;
    font-family: 'Special Elite', cursive;
  }

  
  header {
    text-align: center;
    padding: 1rem 0;
    background-color: #8B4513;
 
  }


  footer {
    text-align: center;
    padding: 35px;
    background-color: #8B4513;
    border-top: solid black;
  }
  
  h1 {
    color: tan;
    margin: 0;
    
  }
  
  main {
 
    max-width: 800px;
    margin: auto;
  }
  
  .letterbuttons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0.25rem;

  }
  

  .letterb {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: gray;
    box-shadow: 1px black;
  }
  
  .letterb:active { 
    background-color: gray;
    box-shadow: 0 5px black;
    transform: translateY(2px);
  }

  img {
    border-radius: 15%;
    -webkit-filter: grayscale(100%);
  }

  form {
    text-align: center;
  
    margin-bottom: 100px;
 

  }


  #p1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  input[type=text] {
    width: 25%;
    padding: 10px 120px;
 

    border: 2px solid tan;
    border-radius: 4px;
    background-color: #8B4513;
    font-family: 'Special Elite', cursive;
    font-size: 10px;

    

  }

  .button {
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #8B4513;
    border: 2px solid tan;
    font-family: 'Special Elite', cursive;  

    box-shadow: 2px 2px #8B4513;

  }
 
  .reloadbr {
    background-color: gray;
    padding: 40px 5px 5px 5px;
    border: 1px solid gray;
    border-bottom: solid black;
  }

  #reload {
   
    padding: 5px 5px 5px 5px;
  
    background-color: gray;
    border-top: solid black;
    border-bottom: solid black;
    border-left: solid gray;
    border-right: solid gray;
    font-family: 'Special Elite', cursive;  

    /* box-shadow: 2px 2px black; */
    font-size: 15px;
    width: 75px;
 
    
  }

  .r {

    margin: auto;
    width: 75px;
    padding: 10px 15px;
    background-color: #8B4513;
    border-radius: 10px;
    box-shadow: 2px 2px #8B4513;
    border: 2px solid gray;
   
    margin-bottom: 50px;


  }

  .r:active {
    transform: translateY(4px);
  }


  .button:active {
    background-color: gray;
    box-shadow: 0 5px black;
    transform: translateY(4px);
}

#status {
 text-align: center;
 margin-top: 20px; 
 margin-bottom: 20px;
}


#answer {
  text-align: center;
  color: red;
}


#answer2 {
  text-align: center;
  color: red;
}
.letter {
  border-bottom: 3px solid black;
  width: 15px;
  margin-left: 15px;
  


}
.container {
  display: flex;
  flex-direction: row;  
  margin-left: 30px;
  
  
  
}
#pone {
  margin-top: 70px;
  margin-left: 150px;
}
#ptwo {
  margin-left: 250px;
  margin-top: 50px;
}

#split {
  display: flex;
  flex-direction: row; 
 
}

main {
  margin-bottom: 100px;
  margin-top: 40px;
}

.hmpic {
  text-align: center;
  margin-bottom: 40px;
}