@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body {
 

    margin: 0;
    font-family: sans-serif;
    background-color: tan;
    font-family: 'Special Elite', cursive;
  }

  
  header {
    text-align: center;
    padding: 1rem 0;
    background-color: #8B4513;
 
  }


  footer {
    text-align: center;
    padding: 35px;
    background-color: #8B4513;
    border-top: 2px solid black;
  }
  
  h1 {
    color: black;
    margin: 0;
    
  }
  
  main {
 
    max-width: 800px;
    margin: auto;
  }
  
  .letterbuttons {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0.25rem;

  }
  

  .letterb {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: #8B4513;
    box-shadow: 1px black;
  }
  
  .letterb:active { 
    background-color: gray;
    box-shadow: 0 5px black;
    transform: translateY(2px);
  }

  img {
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
  }

  form {
    text-align: center;
    margin-top: 50px;
 margin-left: 10px;

  }


  #p1 {
    text-align: center;
    margin-top: 20px;
   
  }

  input[type=text] {
    width: 25%;
    padding: 10px 120px;
 

    border: 2px solid tan;
    border-radius: 4px;
    background-color: #8B4513;
    font-family: 'Special Elite', cursive;
    font-size: 10px;

    

  }

  .button {
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #8B4513;
    border: 2px solid tan;
    font-family: 'Special Elite', cursive;  

    box-shadow: 2px 2px #8B4513;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;


  }
 
  .reloadbr {
    background-color: gray;
    padding-top: 20px;
    border: 1px solid gray;
    border-bottom: 2px solid black;
    max-height: 90px;
  }

  #reload {
   
    padding: 5px 5px 5px 5px;
  
    background-color: gray;
    border-top: solid black;
    border-bottom: solid black;
    border-left: solid gray;
    border-right: solid gray;
    font-family: 'Special Elite', cursive;  

    /* box-shadow: 2px 2px black; */
    font-size: 15px;
    width: 75px;
 
    
  }

  .r {

    margin: auto;
    width: 75px;
    padding: 10px 15px;
    background-color: #8B4513;
    border-radius: 10px;
    box-shadow: 2px 2px #8B4513;
    border: 2px solid black;
   
    margin-bottom: 50px;


  }

  .r:active {
    transform: translateY(4px);
  }


  .button:active {
    background-color: gray;
    box-shadow: 0 5px black;
    transform: translateY(4px);
}

#status {
 text-align: center;
 margin-top: 20px; 
 margin-bottom: 20px;
}


#answer {
  text-align: center;
  color:#B80000;
}


#answer2 {
  text-align: center;
  color: 	#B80000;
}
.letter {
  border-bottom: 1px solid black;
  width: 15px;
  margin-left: 15px;
  


}
.container {
  display: flex;
  flex-direction: row;  
justify-content: center;
margin-bottom: 20px;
  
  
  
}
#pone {
  border: 2px solid black;
  background-color: gray;
  padding-left: 50px;
  padding-right:  75px;
  margin-top: 75px;
  margin-left: 75px;

  padding-bottom: 20px;
max-height: 225px;
border-bottom: 1px solid black;
max-width: 350px;

}
#ptwo {

  border: 2px solid black;
  padding-left: 50px;
  padding-right:  75px;
  background-color: gray;
  margin-left: 75px;
  border-top: gray;
 padding-bottom: 10px;
  padding-top: 15px;
  margin-right: 150px;
  margin-bottom: 50px;
  max-height: 545px;
  max-width: 350px;
}

#split {
  display: flex;
  flex-direction: column; 
  margin-left: 415px;
 
}

main {
  display: flex;
  justify-content: center;
}

.hmpic {
  text-align: center;

}